* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  li {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  button {
	margin: 0;
	padding: 0;
  }
  
  body {
	background-color: #555555;
	position: relative;
  }
  header {
	/* border: solid 1px; */
	width: 65%;
	height: 430px;
	position: relative;
	margin: 0 auto;
	background-image: url('../public/images/page1/headerBackground.png');
	/* background-repeat: no-repeat; */
	background-position: -50px -100px;
  }
  #logo-title {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: rgb(246, 82, 97);
	position: absolute;
	top: 20px;
	left: 40px;
	cursor: pointer;
  }
  #logo-title span {
	font-weight: 900;
  }
  #addMovieBut {
	position: absolute;
	top: 20px;
	right: 40px;
	background-color: rgba(85, 85, 85, 0.3);
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: rgb(246, 82, 97);
	padding: 10px;
	border-radius: 5px;
  }
  #searchLogo {
	/* background-color: rgba(85, 85, 85, 0.3); */
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: white;
	margin-bottom: 40px;
  
  }
  #searchArea {
	position: absolute;
	top: 100px;
	LEFT: 0;
	width: 100%;
	/* border: solid 1px; */
	padding: 0 100px 0 100px;
  }
  #searchInput {
	width: 75%;
	height: 60px;
	border-radius: 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding-left: 20px;
	background-color: rgba(35, 35, 35, 0.3);
  }
  #search-btn {
	width: 20%;
	height: 60px;
	vertical-align: top;
	border-radius: 4px; 
	background: rgb(246, 82, 97);
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: white;
  }
  #results-filter div, #results-sort div{
	display: inline-block;
	/* border: solid 1px; */
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	padding: 10px 10px 10px 0;
  }
  main {
	background-color: rgb(23, 23, 23);
	width: 65%;
	margin: 5px auto 0 auto;
	position: relative;
  }
  #filters {
	/* box-shadow: 0 10px 10px -10px rgba(18, 18, 18, 0.5); */
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
	padding: 5px 0 0 0;
	/* border: solid 1px white; */
	border-bottom: solid 1px #555555;
	
  }
  #filters div {
	cursor: pointer;
  }

  #results-filter [type="checkbox"]:checked + div,
  #results-filter .activeFilter {
	border-bottom: solid 2px red;
  }

  #resetFilters {
	background: none;
	border: none;
	color: white;
	padding: 0;
	border-radius: 0;
  }
  #results-filter {
	/* border: solid 1px white; */
	/* margin-left: 40px; */
  }
  #results-sort {
	/* border: solid 1px white; */
	/* margin-right: 40px; */
  }
  #movies-counter {
	display: inline-block;
	/* border: solid 1px; */
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: rgb(255, 255, 255);
	margin: 20px 0 20px 40px;
  }
  #movies-counter span {
	font-weight: 600;
  }
  #cards {
	margin: 0 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* border: solid 1px white; */
  }
  
  .card {
	/* border: solid 1px white; */
	margin-bottom: 40px;
	cursor: pointer;
  }
  .card-image {
	width: 300px;
	height: 420px;
  }
  .title-and-year {
	display: flex;
	justify-content: space-between;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #C0C0C0;
	margin: 10px 0 0 0;
	/* border: solid 1px wheat; */
  }
  .card-title {
	/* border: solid 1px wheat; */
  }
  .card-year {
	font-size: 14px;
	border: solid 1px #808080;
	padding: 5px 5px;
	border-radius: 4px;
  }
  .gender {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #808080;
  }
  footer {
	background-color: rgb(42, 42, 42);
	width: 65%;
	margin: 0 auto;
	position: relative;
  }
  #footer-title {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: rgb(246, 82, 97);
	width: fit-content;
	/* border: solid 1px wheat; */
	margin: 0 auto;
	padding: 15px 0;
	cursor: pointer;
  }
  #footer-title span {
	font-weight: 900;
  }
  .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-window {
	width: 50%;
	height: 650px;
	border-radius: 5px;
	background-color: #232323;
	position: relative;
	margin: 150px auto;
  }
  .modal-header{
	display: flex;
	justify-content: space-between;
  }
  .modal-title {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	font-weight: 300;
	margin: 40px 40px;
  }
  .modal-close {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin: 0 15px 0 0;
	cursor: pointer;
  }
  .modal-footer {
	margin: 40px 40px;
	display: flex;
	gap: 15px;
	justify-content: flex-end;
  }
  button {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 4px;
  }
  button[type=reset] {
	border: solid 1px rgb(246, 82, 97);
	color:rgb(246, 82, 97);
	background-color: #232323;
  }
  button[type=submit] {
	color: white;
	background-color: rgb(246, 82, 97);
	border: solid 1px rgb(246, 82, 97);
  }
  .grid-container {
	display: grid;
	grid-template-columns: 45% 30%;
	gap: 30px;
	justify-content: center;
	position: relative;
  }
  .grid-item label, .grid-last-item label  {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: rgb(246, 82, 97);
	
  }
  .grid-item input, #textarea-movie textarea {
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	background-color:#424242;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	border: none;
	border-radius: 4px;
  }
  #gender-icon {
	position: absolute;
	left: 53%;
	bottom: 12%;
	cursor: pointer;
  }
  #calendar-icon {
	position: absolute;
	top: 48%;
	right: 12%;
	cursor: pointer;
  }
  
  .grid-last-item {
	grid-column: span 2;
  }
  input#crime, input#documentary,input#horror,input#comedy {
	width: auto;
	margin: 5px;
	cursor: pointer;
  }
  li.dropdown-item label {
	color:#C0C0C0;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 200;
	cursor: pointer;
  }
  li.dropdown-item {
	display: flex;
	background-color: #1c1c1c;
  }
  
  input[type="checkbox"] {
	display: none;
  }
  
  input[type="checkbox"] + label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
  }
  
  input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	left: 8px;
	top: 8px;
	width: 12px;
	height: 12px;
	border-radius: 3px; 
	background-color: white;
  }
  
  input[type="checkbox"]:checked + label:before {
	background-color: #F65261; 
  }
  
  input[type="checkbox"]:checked + label:after {
	content: "";
	position: absolute;
	left: 11px;
	top: 8px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
  }
  ul.dropdown-menu {
	position: absolute;
	width: 45%;
  } 
  
  #textarea-movie {
	width: 79%;
	/* border: solid 1px wheat; */
	margin: 40px auto;
	
  }
  
  #textarea-movie label {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: rgb(246, 82, 97);
  }
  #error-movie {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgb(246, 82, 97);
  }
  div.modal-window.congratulations {
	width: 35%;
	height: 30%;
  
  }
  div.modal-window.congratulations span {
	position: absolute;
	right: 0;
  }
  #modal-window-congratulaties {
	text-align: center;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
  }
  #div-congratullations {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: rgb(255, 255, 255);
	margin: 20px;
  }
  #div-congratullations-message {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	margin: 20px;
  }
  #modal-ok {
   margin: 0 auto;
  }
  div.modal-window.modal-window-delete {
	width: 200px;
	height: 100px;
	top: 50%;
  }
  div.modal-window.modal-window-delete span {
	font-size: 30px;
	height: fit-content;
	float: right;
	margin: 0;
	vertical-align:top;
	line-height: 20px;
  }
  .edit-and-delete-buttons {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	width: 100%;
	/* border: solid 1px wheat; */
	display: flex;
	margin: 0 0;
	padding: 10px 20px;
	cursor: pointer;
  }
  #edit-button {
	margin-top: 40px;
	
  }
  div#edit-button.edit-and-delete-buttons:focus, div#delete-button.edit-and-delete-buttons:focus {
	background-color: rgb(246, 82, 97) !important;
	color: red;
  }
  #delete-confirm {
	width: fit-content;
	/* margin-top: 25px; */
	float: right;
	margin-top: 30px;
	margin-right: 60px;
  }
  div.modal-window.delete-movie-modal-window {
	width: 35%;
	height: 30%;
  }
  body > div:nth-child(7) > div > div > span {
	position: absolute;
	right: 0;
  }
  #modal-window-delete {
	display: flex;
	flex-direction: column;
  }
  #div-delete {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: rgb(255, 255, 255);
	margin: 60px 0 0 60px;
  }
  #div-delete-message {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	margin: 20px 0 0 60px;
  }

  .is-loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }

  .is-loading:before {
	content: "";
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
  }

  .pagination button {
	background: none;
	border: none;
	color: white;
	padding: 10px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .pagination {
	display: flex;
	justify-content: space-around;
  }

  .pagination button:disabled {
	cursor: auto;
	opacity: 0.5;
  }

  .pagination button:not(:disabled):hover {
	transform: scale(1.2);
  }

  .is-loading .loader {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
  }

  .loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
	display: none;
  }
  .loader::before , .loader::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #FFF;
	animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
	inset: 8px;
	transform: rotate3d(90, 90, 0, 180deg );
	border-color: #FF3D00;
  }

  @keyframes rotate {
	0%   {transform: rotate(0deg)}
	100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
	  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	  75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }